.leader-map {
  width: 100%;
  min-width: 870px;
  height: 590px;
  position: relative;
  margin: 0 auto;
}
.leader-map dl {
  position: relative;
  width: 84%;
  margin-left: 10%;
  display: inline-block;
  display: flex;
  justify-content: space-between;
}
.leader-map dl span {
  font-size: 12px;
  color: #434343;
  line-height: 30px;
  display: inline-block;
  width: 40px;
}
.leader-map dl .st_t {
  position: absolute;
  width: 60px;
  left: 50%;
  margin-left: -30px;
}
.leader-map dl .spn01,
.leader-map dl .spn02,
.leader-map dl .spn03,
.leader-map dl .spn04,
.leader-map dl .spn05,
.leader-map dl .spn06 {
  position: absolute;
}
.leader-map dl .spn01 {
  left: 50%;
  margin-top: -34px;
  margin-left: -20px;
}
.leader-map dl .spn02 {
  width: 86px;
  left: -86px;
}
.leader-map dl .spn03 {
  width: 80px;
  margin-top: 25px;
}
.leader-map dl .spn04 {
  width: 50px;
  top: 50%;
  left: -50px;
  margin-top: -20px;
}
.leader-map dl .spn05 {
  width: 50px;
  margin-top: 8px;
}
.leader-map dl .spn06 {
  position: absolute;
  top: 32px;
  right: 0;
  width: 60px;
  margin-right: -72px;
}
.leader-map dl dd {
  position: relative;
  display: inline-block;
  display: flex;
  margin: 0;
  padding: 0;
  width: 28%;
}
.leader-map dl .l-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 45.5%;
  font-size: 12px;
  color: #414141;
  font-weight: bold;
  text-align: center;
}
.leader-map dl .l-cell {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #448aca;
  border-radius: 5px;
  display: inline-block;
}
.leader-map dl .l-cell a {
  display: block;
  font-size: 12px;
  color: #ffffff;
}
.leader-map dl .l-cell:hover {
  opacity: .95;
  box-shadow: 0 0 10px #434343;
}
.leader-map dl .line-x {
  position: absolute;
  left: 100%;
  display: inline-block;
  width: 13%;
  height: 2px;
  background-color: #bfbfbf;
  margin: 19px 5px;
  z-index: 1;
}
.leader-map dl .line-x i {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bfbfbf;
  position: absolute;
  left: 0;
  top: -2px;
}
.leader-map dl .line-x em {
  width: 7px;
  height: 12px;
  display: inline-block;
  background: url(../image/index-leader/x-right.png) center center no-repeat;
  position: absolute;
  left: calc(100% - 4px);
  top: -5px;
}
.leader-map dl .line-y {
  position: absolute;
  top: 30px;
  left: calc(50% - 4px);
  display: inline-block;
  width: 2px;
  height: calc(100% - 5px);
  background-color: #bfbfbf;
  margin: 19px 5px;
  z-index: 1;
}
.leader-map dl .line-y i {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bfbfbf;
  position: absolute;
  left: -2px;
  top: -4px;
}
.leader-map dl .line-y em {
  width: 12px;
  height: 7px;
  display: inline-block;
  background: url(../image/index-leader/y-dowm.png) center center no-repeat;
  position: absolute;
  left: -5px;
  top: calc(100% - 3px);
}
.leader-map dl.l-row-01 {
  position: relative;
  padding: 14px;
  width: 84%;
  margin-left: calc(10% - 14px);
  justify-content: space-between;
  background-color: #fbfbfb;
  border: 1px dashed #c5c5c5;
  border-radius: 10px;
}
.leader-map dl.l-row-01.top-row {
  width: 32%;
  height: 120px;
  background: none;
  border: 0;
  margin-bottom: 22px;
  align-items: flex-end;
}
.leader-map dl.l-row-01 .l-cell {
  background-color: #eb6877;
}
.leader-map dl.l-row-01 dd:first-child {
  width: 38%;
}
.leader-map dl.l-row-01 .line-x.pos-to {
  width: 22%;
  left: 100%;
  margin-top: 15px;
}
.leader-map dl.l-row-01 .line-x.pos-to em {
  background: url(../image/index-leader/x-right-to.png) center 1px no-repeat;
}
.leader-map dl.l-row-01 .line-x.pos-back {
  width: 22%;
  left: 100%;
  margin-top: 25px;
}
.leader-map dl.l-row-01 .line-x.pos-back i {
  left: calc(100% - 4px);
  top: -3px;
}
.leader-map dl.l-row-01 .line-x.pos-back em {
  left: 0px;
  top: -6px;
  background: url(../image/index-leader/x-right-back.png) center 0 no-repeat;
}
.leader-map dl.dl-normal .line-x.pos-lt {
  margin-top: 46px;
  position: absolute;
  left: 0;
  margin-left: -6.5%;
  width: 6%;
}
.leader-map dl.dl-normal .line-x.pos-lt i {
  left: auto;
  right: 0;
}
.leader-map dl.l-row-02 {
  position: relative;
  padding: 14px;
  width: 84%;
  margin-left: calc(10% - 14px);
  justify-content: space-between;
  background-color: #fbfbfb;
  border: 1px dashed #c5c5c5;
  border-radius: 10px;
}
.leader-map dl.l-row-02 .line-x.pos-rt {
  position: absolute;
  top: -50px;
  left: 80px;
  width: calc(100% - 260px);
}
.leader-map dl.l-row-02 .line-x.pos-rt i {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px #c2c2c2 solid;
  top: -4px;
  left: -1px;
  z-index: 1;
}
.leader-map dl.l-row-02 .line-y.pos-lt {
  left: auto;
  right: 168px;
  top: -50px;
  height: 50px;
}
.leader-map dl.l-row-03 dd {
  width: 100%;
}
.leader-map dl.l-row-03 .line-x.pos-lt {
  position: absolute;
  left: 0;
  margin-left: -6.5%;
  width: 6%;
}
.leader-map dl.l-row-03 .line-x.pos-lt i {
  left: auto;
  right: 0;
}
.leader-map dl.l-row-04 dd {
  width: 100%;
}
.leader-map dl.l-row-04 .l-cell {
  width: 100%;
  background-color: #22ac38;
}
.leader-map dl.l-row-04 .line-y {
  height: 50px;
  top: -80px;
  left: 50%;
}
.leader-map dl.l-row-04 .line-y.pos-lt {
  height: 380px;
  top: 162px;
  left: 15.66%;
}
.leader-map dl.l-row-04 .line-y.pos-lt i {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px #c2c2c2 solid;
  top: -6px;
  left: -4px;
  z-index: 1;
}
.leader-map dl.l-row-04 .line-x.pos-lt {
  position: absolute;
  left: 0;
  margin-left: -6.5%;
  width: 6%;
}
.leader-map dl.l-row-04 .line-x.pos-lt i {
  left: auto;
  right: 0;
}
.leader-map dl .ic-tag-01,
.leader-map dl .ic-tag-02,
.leader-map dl .ic-tag-03,
.leader-map dl .ic-tag-04 {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 10px 0 0;
  background: url(../image/index-leader/api.png) center center no-repeat;
  background-color: #e5e5e5;
}
.leader-map dl .ic-tag-02 {
  background: url(../image/index-leader/xiansuo.png) center center no-repeat;
  background-color: #e5e5e5;
}
.leader-map dl .ic-tag-03 {
  background: url(../image/index-leader/rukou.png) 5px 10px no-repeat;
  background-color: #e5e5e5;
}
.leader-map dl .ic-tag-04 {
  background: url(../image/index-leader/tiche.png) center center no-repeat;
  background-color: #e5e5e5;
}
.leader-map dl .ic-btn-01,
.leader-map dl .ic-btn-02,
.leader-map dl .ic-btn-03,
.leader-map dl .ic-btn-04,
.leader-map dl .ic-btn-05,
.leader-map dl .ic-btn-06,
.leader-map dl .ic-btn-07,
.leader-map dl .ic-btn-08,
.leader-map dl .ic-btn-09 {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 2px;
  background: url(../image/index-leader/xiansuochi.png) center -2px no-repeat;
}
.leader-map dl .ic-btn-02 {
  background: url(../image/index-leader/rediansousuozhuizong.png) center -2px no-repeat;
}
.leader-map dl .ic-btn-03 {
  background: url(../image/index-leader/wenjian-dengjibiao.png) center -2px no-repeat;
}
.leader-map dl .ic-btn-04 {
  background: url(../image/index-leader/chengjiao.png) center center no-repeat;
}
.leader-map dl .ic-btn-05 {
  background: url(../image/index-leader/mianfeitiche.png) center -2px no-repeat;
}
.leader-map dl .ic-btn-06 {
  background: url(../image/index-leader/huifang.png) center -2px no-repeat;
}
.leader-map dl .ic-btn-07 {
  background: url(../image/index-leader/shenheshibai.png) center -2px no-repeat;
}
.leader-map dl .ic-btn-08 {
  background: url(../image/index-leader/qianke1.png) center -2px no-repeat;
}
.leader-map dl .ic-btn-09 {
  background: url(../image/index-leader/xiansuodaoru.png) center -2px no-repeat;
}
