@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0 auto;
  line-height: 0;
}

div,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

* {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
}

/*$bckcolor: #d43c33;
.redblock {
    width: 100%;
    height: px2rem(64px);
    background-color: $bckcolor;
    span {
        margin-left: px2rem(10px);
        height: px2rem(64px);
        line-height: px2rem(64px);
        font-size: px2rem(16px);
        color: #ffffff;
    }
}*/
